<div class="container">
    <div class="row align-items-center col-12">
        <div class="col-4"></div>
        <div class="col-4">
            <br><br><br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/assets/joystick.jpg" alt="" >
        </div>
        <div class="col-lg-4 text-center ">
            
        </div>
    </div>
    <div class="row align-items-center col-12">
        <div class="col-4"></div>
        <div class="col-4  text-center"><h1>Bem-vindo a SYSGame</h1></div>
        <div class="col-lg-4">
   
        </div>
    </div>
   
</div>